body{
    color:bisque;
    font-size: larger;
    background-color: black;
    
}

.header1,
#food-group,
#food-group-line, 
#food-group-line div{
    display: inline-block;
    border-radius: 2px;
    border-style: solid;
    padding: 5px;
}

#food-group-line{
    display: flex;
  }
  
#food-group-line div{
    flex: 1;
  }
  
  .food-section-proteins {
    width: 100%;
    padding: 50px 0;
    background-color: #8f4c4c;
  }

  .food-section-greens {
    width: 100%;
    padding: 50px 0;
    background-color: #11e226;
  }
  .food-section-fruits {
    width: 100%;
    padding: 50px 0;
    background-color: #f89035;
  }
  .food-section-nuts {
    width: 100%;
    padding: 50px 0;
    background-color: #66360c;
  }

  .food-group-name {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .grid-container-proteins, .grid-container-greens, .grid-container-fruits, .grid-container-nuts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .protein-item, .greens-item, .nuts-item, .fruits-item{
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
  
  }
  
  .protein-item{
    background-color: rgb(77, 11, 11);
  }

  .greens-item{
    background-color: rgb(27, 134, 16);
  }

  .nuts-item{
    background-color: rgb(247, 174, 5);
  }

  .fruits-item{
    background-color: rgb(250, 77, 3);
  }

  .protein-item img, .greens-item img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .protein-item h3, .greens-item h3 {
    margin-bottom: 10px;
  }
  
  .protein-item p, .greens-item p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .selected{
    border-radius: 5px;
  }
  
  .protein-item.selected, .greens-item.selected, .fruits-item.selected, .nuts-item.selected {
    border: 5px solid blue;
  }
  